version: "3.9"
services:
  openmanet-builder:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${HOST_UID:-1000}
        GID: ${HOST_GID:-1000}
    user: "${HOST_UID:-1000}:${HOST_GID:-1000}"
    volumes:
      - ./work:/work
    working_dir: /work
    environment:
      - BOARD=${BOARD:-ekh01}
      - BUILD_JOBS=${BUILD_JOBS:-}
      - HALF_CPUS=${HALF_CPUS}
    cpus: ${HALF_CPUS:-1}
